<nav class="navbar sticky-top" style="background: transparent">
  <div class="container-fluid mx-5 mt-2">
    <button
      class="navbar-toggler dropdown-nav__closeNavBtn border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand fw-bold text-dark ms-5" href="/plants">PLANTS</a>
    <div class="navbar-nav align-self-end ms-auto">
      <div>
      <% if(!currentUser) {%>
      <a class="nav-link fw-bold" href="/login">Login</a>
      <a class="nav-link fw-bold" href="/register">Register</a>
      <% }else{ %>
      <a class="nav-link fw-bold" href="/logout">Logout</a>
      <% } %> <% if(currentUser) {%>
      <a href="/user/<%= currentUser._id %>/cart " class="me-3 mb-2"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="#696969"
          class="bi bi-cart"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
          /></svg
      ></a>
      <% } %>
    </div>

    <div class="collapse navbar-collapse dropdown-nav" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/plants">Plants</a>
        <a class="nav-link" href="/plants/new">Add plant</a>
        <a class="nav-link" href="/user">Users</a>

        <% if(!currentUser) {%>
        <a class="nav-link fw-bold" href="/login">Login</a>
        <a class="nav-link fw-bold" href="/register">Register</a>
        <% }else{ %>
        <a class="nav-link fw-bold" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
