@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --bs-body-font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}


/* navbar */

nav {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
}

.navbar-brand {
  letter-spacing: 1rem;
}

.navbar_cart-icon {
  position: relative;
  bottom: 0.2rem;
}

.bi-cart {
  color: black;
}

.nav-icon:focus {
  border-color: none;
  box-shadow: none;
}

.nav-link:hover {
  color: black;
}



.searchBox {
  display: none;
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background: white;
  align-items: center;
  padding: 0 10px;

  transition: 0.5s ease-in-out;
}
.searchBox.active {

  right: 0;
  
}

.search_input{
  width: 90vw;
}





/* login */










.container_register {
  width: 600px;
}

.container_login,
.container_register,
.container_new {
  box-shadow: 10px 5px 5px rgb(196, 196, 196);
}

.login_heading {
  letter-spacing: 10px;
}


#card_img{
  height: 500px;
  object-fit: cover;
}

@media (min-width: 1400px) {
  .container-login {
    width: 900px;
  }
}
.no-border {
  border: none;
  border-radius: 0%;
  border-bottom: thin solid;
  border-color: rgb(196, 196, 196);
}

.login_button {
  border-radius: 0% !important;
}
.custom_button {
  border-radius: 0% !important;
}

.custom_button:hover{
  border-color: black;
  background-color: white;
  color: black;
}

/* index page */

.card_custom {
  border: none;
  background-color: rgba(247, 247, 247, 0.88);
  border-radius: 0%;

  /* border-bottom: thin solid rgb(196, 196, 196); */
}
.card_custom:hover {
  border: none;
  border-radius: 0%;

  box-shadow: 10px 5px 5px rgb(196, 196, 196);
  /* border-bottom: thin solid rgb(196, 196, 196); */
}

.form-control:focus {
  border-color: black;
  box-shadow: none;
}

/* show plant page */







/* main content */

.main {
  position: relative;
  height: 100vh;
  overflow: hidden;
  /* //so we dont have scroll at the button when we shrink viewport */
}
.main img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}
.main_content {
  z-index: 1;
}
@media (min-width: 576px) {
  .main_content_width {
    width: 500px;
  }
}
@media (min-width: 768px) {
  .main_content_width {
    width: 540px;
  }
}
@media (min-width: 1400px) {
  .main_content_heading {
    font-size: 3.2rem;
  }
}
.main span {
  font-weight: 500;
}

.home_style {
  border-radius: 0%;
}