<% layout('layouts/boilerplate')%>

<div class="container mt-5">
  <div class="container">
    <div class="row justify-content-start gy-5 gx-0">
      <% for(let user of users) {%>

      <div class="col-2">
        <img
          src="https://images.unsplash.com/photo-1604961410267-9f76682d25e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1292&q=80"
          alt=""
          class="img-fluid rounded"
          style="height: 10rem"
        />
      </div>
      <div class="col-9 border-bottom">
        <h3><%= user.username %></h3>
        <p>Location: <%= user.location %></p>
        <a
          href="/user/<%= user._id %> "
          class="btn btn-sm btn-dark btn-block login_button"
          >View profile</a
        >
      </div>
      <% } %>
    </div>
  </div>
</div>
